@import '@/style';

.bd-table {
  $background: palette('background');
  background: palette('background_light');
  width: 100%;
  border-collapse: collapse;
  thead {
    background: darken($background, $darkenMount);
  }
  tr{
    &:nth-child(even) {
      background: darken($background, $darkenMount);
    }
  }
  th, td {
    text-align: center;
    padding: 10px;
  }
}