@import '@/style';

.bd-button {
  @include font('content');
  border: none;
  outline: none;
  padding: 4px 6px;
  border-radius: $borderRadiusPrimary;
  transition: $transitionPrimary;
  cursor: pointer;
  &-primary {
    $background: palette('primary');
    background: $background;
    color: palette('content_light');
    &:focus, &:hover{
      background: lighten($color: $background, $amount: $lightenMount);
    }
  }
  &-success {
    $background: palette('success');
    background: $background;
    color: palette('content_light');
    &:focus, &:hover{
      background: lighten($color: $background, $amount: $lightenMount);
    }
  }
  &-warning {
    $background: palette('warning');
    background: $background;
    color: palette('content_light');
    &:focus, &:hover{
      background: lighten($color: $background, $amount: $lightenMount);
    }
  }
  &-error {
    $background: palette('error');
    background: $background;
    color: palette('content_light');
    &:focus, &:hover{
      background: lighten($color: $background, $amount: $lightenMount);
    }
  }
  &-disable {
    $background: palette('disable');
    background: $background;
    color: lighten(palette('content'), $lightenMount);
    cursor: not-allowed;
  }
}